<div class="container">
  <h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <div class="pt-3 border-bottom">
      <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <div class="d-flex">
        <div class="pr-4">
          <p>Location: <%= restaurant.address %></p>
          <p>Phone Numer: <%= restaurant.phone_number %></p>
        </div>
        <div>
          <p>Category: <%= restaurant.category %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
